.App {
	background-image: url('./SunsetHillChallengePixelOreos6.18.20..png');
	background-repeat: no-repeat;
	background-size: cover;

	/* background-color: #1b1c1d; */
}

.App .answer {
	margin: 4em 0 2em 0;
	background-color: rgba(0, 0, 0, 0.2);
	text-shadow: 2px 2px 0 black;
}

.headerText {
	color: #ffb2ff !important;
	text-shadow: 2px 2px 0 black !important;
}

.building-pagination {
	padding: 5px;
	margin: 2em 0;
}

.ui.form .inline.field > :first-child,
.ui.form .inline.fields .field > :first-child {
	color: #fff;
}

.form-style {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	margin: auto auto;
}
